footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    background-color: #BFA795;
    z-index: 99999;
    /* gap: 5px; */
}
footer .footLeft{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .footLeft img{
    width: 45%;
    height: 34%;
    margin-top: 5%;
}
footer .footLeft img:nth-child(2){
    align-self: flex-start;
    width: auto;
    height: 40%;
    margin-left: 5%;
}
footer .footRight{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 20%;
}
footer .footRight img{
    height: 90%;
    width: 100%;
}


footer .footCenter{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}
footer .footCenter .links {
    width: 33%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
footer .footCenter .links span,
footer .footCenter .links a{
    text-decoration: none;
    font-size: 16px;
    color: var(--f);
    text-transform: capitalize;
}
footer .footCenter .links p{
    color: #584536;
    font-size: 22px;
    text-transform: capitalize;
}

footer .footCenter .links div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 18px; */
    width: 60%;
}
footer .footCenter .links div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
footer .footCenter .links div a img{
    width: 60%;
    height: 100%;
}