@media (max-width:767px) {
    nav .navBottom {
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav .logo {
        order: 1;
        width: 25%;
        height: 50%;
    }
    nav .navBottom {
        height: 25vw;
    }
    nav .navBottom .icons {
        order: 2;
        width: 50%;
        height: 50%;
        justify-content: end;
        gap: 5px;
    }
    nav .navBottom .icons a{
        height: 90%;
        width: 20%;
        gap: 0;
    }
    nav .navBottom .icons a img {
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    nav .navBottom .links {
        order: 3;
        width: 100%;
        height: 50%;
    }
    nav .links li a::before {
        bottom: 0%;
    }
    nav .navTop .social {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        /* gap: 15%; */
    }
    nav .navTop .social a {
        width: 20%;
        height: 100%;
    }
    nav .navTop .social a img {
        width: 25%;
        height: 100%;
        object-fit: contain;
    }
    nav .links a {
        font-size: clamp(1vw, 5vw, 10vw);
    }
}